@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.bannerContent{
  background: linear-gradient(151.17deg, #26C2B9 8.69%, #288BE7 126.06%);
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Regular.woff2') format('woff2');
  font-display: swap;
}

 .slider-cards .slick-slide {
  transition: opacity 0.5s ease, transform 0.5s ease;
  transform-origin: center;
  transform: scale(0.6);
  opacity: 1;
}

.slider-cards .slick-center {
  transform: scale(1);
  opacity: 1;
}

.slider-cards .slick-current {
  z-index: 9999;
}

.slider-cards .slick-active:not(.slick-center) {
  transform: scale(0.88); 
  opacity: 1;
  z-index: 1;
}

.slider-cards .slick-list {
  max-width: 100%;
  perspective: 1000px; 
}

.slider-cards .slick-track {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-cards .slick-prev, .slick-next {
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);
}

.slider-cards .slick-prev:before{
  content: '<';
  font-family: monospace;
  opacity: 1;
  font-size: 42px !important;

  
}
.slider-cards .slick-next:before{
  content: '>';
  font-family: monospace;
  opacity: 1;
  font-size: 42px !important;

}


@media(max-width:1200px){

  .slider-cards .slick-center {
    transform: scale(1) !important;
    opacity: 1;
  }
  .slider-cards .slick-slide {
    transform: scale(0.6);

  }
}
@media(max-width:768px){
  .slider-cards{
    width: 340px !important;
  }
  .slider-cards .slick-center {
    transform: scale(1) !important;
    opacity: 1;
  }
  .slider-cards .slick-slide {
    transform: scale(0.8) ;

  }
}
@media(max-width:576px){
  .slider-cards{
    width: 100% !important;
    margin: 0 auto;
  }
  .slider-cards .slick-prev:before{
    font-size: 36px !important;
  
  }
  .slider-cards .slick-next:before{
    font-size: 36px !important;
  
  }
  .slider-cards .slick-slide {
    transform: scale(0.8);
  }

  .slider-cards .slick-center {
    z-index: 9999;
    transform: scale(1);
    opacity: 1;
  }
}
@media(max-width:425px){
  .slider-cards{
    width: 360px !important;
    margin: 0 auto;
  }
  .slider-cards .slick-center {
    transform: scale(1) !important;
    opacity: 1;
  }
  .slider-cards .slick-slide {
    transform: scale(0.6) ;

  }

 
}
@media(max-width:391px){
  .slider-cards{
    width: 100% !important;
    margin: 0 auto;
  }
  .slider-cards .slick-prev {
  left: -18px !important;
  }
  .slider-cards .slick-next {
    right: -18px !important;

  }
  .slider-cards .slick-prev:before{
    font-size: 26px !important;
  
  }
  .slider-cards .slick-next:before{
    font-size: 26px !important;
  
  }

}
