

  .sliderWrapper {
    width: 100%; 
    margin: 0 auto; 
  }
  
  .serviceCard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
  }
  
  .slider {
    display: flex;
    flex-direction: row;
    animation: slideLeft 30s linear infinite;
  }
  
  .fadeIn {
    opacity: 0;
    animation: fadeIn 500ms ease forwards;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideLeft {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  

  .ServiceCard {
    flex-shrink: 0;
    margin-right: 2.5rem; 
  }
  